:root {
    --violeta: #8a0523;
    --fuenteprincipal: 'Open Sans Condensed', sans-serif;
    --fuentesecundaria: 'Montserrat', sans-serif;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    font-family: var(--fuenteprincipal);
    font-weight: bold;
}

h1 {
    font-size: 4rem;
    color:      #75602c;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* Header*/

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 2rem 0;
    position: relative;
    right: 1.2rem;
}

/*Footer*/

.footer {
    background-color: #cc9966;
    padding: 0.5rem 0;
    margin-top: 2rem;
    text-align: center;
}

.footer__texto {
    color: #fff;
    font-family: var(--fuenteprincipal);
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0px;
}

.footer svg {
    width: 33px;
    height: 33px;
    margin-top: 1.1rem;
}

/* Navegacion */

.navegacion {
    background-color: #cc9966;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.navegacion__enlace {
    font-family: var(--fuenteprincipal);
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    margin-right: 1rem;
}

.navegacion__enlace:last-of-type {
    margin-right: 0px;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color:  #e4d594;
}

/*Grid*/

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media (max-width: 850px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 550px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* Productos */

.producto {
    background-color: #cc9966;
    padding: 1rem;
}

.producto__imagen {
    width: 100%;
    height: 341px;
    /*object-fit: cover;  MOSTRAR CON ESTA MODIFICACION*/
  

}

.producto__nombre {
    font-size: 4rem;
    color: #000;
}

.producto__precio {
    font-size: 2.8rem;
    color: #000;
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuenteprincipal);
    text-transform: uppercase;
    margin: 1rem 0px;
    text-align: center;
    line-height: 1.2;
}

/* Graficos */

.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
}

.grafico--camisas {
    background-image: url(img/Grafico.jpg);
    grid-row: 2/3;
    grid-column: 1/3;
    background-size: cover;
}

.grafico--node {
    background-image: url(img/tip.jpg);
    background-size: cover;


}

/* Sobre nosotros */



.infoemprendimiento {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}

.infoemprendimiento__texto {
    text-align: justify;

}

@media (max-width: 768px) {
    .infoemprendimiento {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: none;
    }
    .infoemprendimiento__imagen {
    grid-row: 1/2;
    width: 100%;
    }
}    

/* Por que comprarnos */

.comprarnos {
    background-color:  #582205 ;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 0.5rem;
    gap: 2rem;
}

@media (max-width:768px) {
    .comprarnos {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: none;
    }
    
}

.comprarnos__titulo {
    color:  #cc9966;
}

.comprarnos__texto {
    color:  #d3cec5;
    margin-top: 0px;
    text-align: center;
}